
* {
  box-sizing: border-box; }

body {
  background: white;
  padding-bottom: 56px;

}

.main {
  padding-left: 0;
}

.button {
  color: green
}

.hero {
  background: url('../assets/hero-image.png') no-repeat;
  background-position: 2% 2%;
  min-height:100%;

  background-blend-mode: screen;
}
