
* {
  box-sizing: border-box; }

body {
  background: white;
}

.main {
  padding-left: 0;
}

.button {
  color: green
}



.hero {
  background-position: 2% 2%;
  min-height:100%;
  position: sticky;
  background-blend-mode: screen;
}

@font-face {
font-family: Subhead;
src: url(../assets/fonts/SourceSansPro-Light.otf);
}

@font-face {
font-family: SourceSansPro-Regular;
src: url(../assets/fonts/SourceSansPro-Light.otf);
}


.App {
  position: relative;
}

.heading {
  text-align: center;
  font-family: SubHead;
}

.paragraph {
  line-height: 18px;
  text-align: center;
  font-size: 22px;
  font-size: 50%;
  padding-bottom: 40px;
  font-family: SourceSansPro-Regular;
  color: #88939E;
}

.paragraphContainer {
  padding-top: 150px;
  float: inherit;
}
