.imageContainer {
  position: relative;
  z-index: -1;
  height: 70vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-image: url('../assets/hero-image.png');
  background-repeat: no-repeat;
}

.bannerContent {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: perspective(1px) translate(-50%);
}
