.button {
  background-color: #EE2D1C;
  border: none;
  color: #FFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 50px 50px 50px 50px;
  font-family: ButtonFont;
  position: relative;
}

.buttonContainer {
  text-align: center;
  height: 50%;
}

@font-face {
  font-family: ButtonFont;
  src: url(../assets/fonts/SourceSansPro-Light.otf)
}
