.button {
  background-color: #EE2D1C;
  border: 1px solid #EE2D1C;
  color: #FFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 50px 50px 50px 50px;
  font-family: ButtonFont;
  position: relative;
  transition: all .2s linear;
  cursor: pointer;
}

.button:hover {
  background-color: #FFF;
  color: #EE2D1C;
}


.buttonContainer {
  text-align: center;
  height: 50%;
}

@font-face {
  font-family: ButtonFont;
  src: url(../assets/fonts/SourceSansPro-Light.otf)
}
