.footer {
  backgroundColor: "#F8F8F8";
  borderTop: "1px solid #E7E7E7";
  textAlign: "center";
  padding: "20px";
  position: "fixed";
  left: "0";
  bottom: "0";
  height: "60px";
  width: "100%";
}

.link {
  display: 'block';
  padding-right: '20px';
  height: '60px';
  width: '100%';
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  size: 1px;
}

.icon {
  line-height: 28px;
  float: left;
  position: relative;
  padding-top: 3%;
  text-align: center;
  padding-left: 5%;
  left:10px;
  top:10px;
  height: auto;
  width: 9%;
  margin: 0px 15px 15px 0px;
}
