.footer {
  text-align: center;
  background-color: white;
  vertical-align: center;
  justify-content: space-around;
  position: relative;
  float: inherit;
}

.link {
  display: 'block';
  font-size: 75%;
  padding-left: 30px;
  height: '60px';
  width: '100%';
  float: right;
  padding-top: 5%;
  font-family: FooterFont;
  size: 1px;
  text-decoration: none;
}

.icon {
  line-height: 28px;
  float: left;
  position: relative;
  padding-top: 3%;
  text-align: center;
  padding-left: 5%;
  left:10px;
  top:10px;
  height: auto;
  width: 9%;
  margin: 0px 15px 15px 0px;
}

.hr {
  color: #E8E8E8;
  border-width: 1px;
}

@font-face {
font-family: FooterFont;
src: url(../assets/fonts/SourceSansPro-Regular.otf);
}
