.heading {
  text-align: center;
  font-size: 48px;
  /* color: #FFFF; */
  color: #E8E8E8;
  line-height: 36px;
}

.paragraph {
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

.hero {
  height: 50%;
  top: 0;
  left: 0;
  align-items: flex-start;
}
