.navbar {
  width: 100%;
   text-align: center;
   background-color: white;
   vertical-align: center;
   line-height:120px;
   height:120px;
   justify-content: space-around;
}

.link {
  padding-right: 5%;
  size: 1px;
  padding-top: 40px;
  line-height: 28px;
  float: right;
  /* color: #FFFF; */
  color: #E8E8E8;
}

.icon {
  line-height: 28px;
  float: left;
  position: relative;
  padding-top: 3%;
  text-align: center;
  padding-left: 5%;
  left:10px;
  top:10px;
  height: auto;
  width: 9%;
  margin: 0px 15px 15px 0px;
}

.image {
  padding-top: 3%;
  padding-right: 0.5%;
  padding-bottom: 5%;
  border-radius: 100%;
  width: 6%;
  height: auto;
  float: right;
}
