.tableContainer {
  table-layout: auto;
  text-align: left;
  padding-left: 100px;
  height: 50%;
  width: 100%;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
 font-family: 'Source Sans Pro', sans-serif;

}



.fakeSiteHeader {
  padding-right: 50px;
  padding-bottom: 15px;
}

.accountHeader {
  padding-bottom: 15px;
  padding-left: 40px;
}

.fakeSiteData {
  color: #88939E;
  line-height: 28px;
}

.accountData {
  color: #88939E;
  line-height: 28px;
  padding-left: 40px;
}
