.textContainer {
  height: auto;
  text-align: center;
  position: relative;
}

.heading {
  font-size: 200%;
  color: #FFF;
  line-height: 36px;
  font-family: HeaderFont;
}

.paragraph {
  text-align: center;
  padding-bottom: 22px;
  font-size: 15px;
  line-height: 18px;
  color: #FFF;
  z-index: 2;
  font-family: ParagraphFont;
}

@font-face {
  font-family: HeaderFont;
  src: url(../assets/fonts/SourceSansPro-Light.otf)
}

@font-face {
  font-family: ParagraphFont;
  src: url(../assets/fonts/SourceSansPro-Light.otf)
}
