.videoContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  display: flex;
}

.contentWrapper {
  width: 50%;
}

.videoWrapper {
  width: 50%;
}

.videoWrapper a {
  display: block;
  position: relative;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  overflow: hidden;
}
.videoImage {
  display: block;
  width: 100%;
  height: auto;
}

.videoOverlay {
  background: rgba(255, 0, 0, 0.5);
  background-image: url('../assets/playbtn.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80px 80px;
  position: absolute;
  height: 100%;
  width: 100%;
}
.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: persepective(1px) translate(-50%);
}

.videoHeading {
  padding-left: 10%;
  font-family: HeaderFont;
}

.videoParagraph {
  padding-left: 10%;
  font-family: ParagraphFont;
}
/* <VideoList videos={this.state.videos}/> */

@font-face {
  font-family: HeaderFont;
  src: url(../assets/fonts/SourceSansPro-Bold.otf)
}

@font-face {
  font-family: ParagraphFont;
  src: url(../assets/fonts/SourceSansPro-Light.otf)
}
